<header>
  <div class="container">
    <ul class="menu menu-right">
      <li class="menu-item">
        <a href="{{ "/search/" | prepend: site.baseurl }}">
          <span class="fa fa-search"></span>
        </a>
      </li>
      <li class="toggle-menu">
        <a href="javascript:void(0);">
          <span class="fa fa-bars"></span>
        </a>
      </li>
    </ul>
    <ul class="menu menu-left">
      <li class="logo">
        <a href="{{ site.baseurl }}/" style="font-weight: bolder;">中医博士杨琳</a>
      </li>
      <li class="menu-item">
        <a href="{{ site.baseurl }}/">
          <span class="fa fa-home" style="margin-right: 3px"></span>
          首页
        </a>
      </li>
      <li class="menu-item">
        <a href="{{ "/spasmodic-torticollis/" | prepend: site.baseurl }}">
          <span class="fa fa-fire" style="margin-right: 3px"></span>
          痉挛性斜颈
        </a>
      </li>
      <li class="menu-item">
        <a href="{{ "/about/" | prepend: site.baseurl }}">
          <span class="fa fa-info-circle" style="margin-right: 3px"></span>
          关于我们
        </a>
      </li>
      <li class="menu-item">
        <a href="{{ "/contact/" | prepend: site.baseurl }}">
          <span class="fa fa-envelope" style="margin-right: 3px"></span>
          联系方式
        </a>
      </li>
      <li class="menu-item">
        <a href="{{ "/archive/" | prepend: site.baseurl }}">
          <span class="fa fa-archive" style="margin-right: 3px"></span>
          其他文章
        </a>
      </li>
      <li class="menu-item hidden-mobile">
        <a href="{{ "/search/" | prepend: site.baseurl }}">
          <span class="fa fa-search"></span> 搜索
        </a>
      </li>
    </ul>
  </div>
</header>